POSTGRES_DB=claims_platform
POSTGRES_USER=claims_user
POSTGRES_PASSWORD=change_me_locally

DB_URL=jdbc:postgresql://localhost:5432/claims_platform
DB_USERNAME=claims_user
DB_PASSWORD=change_me_locally
SERVER_PORT=8080
